/*Fuente de la página*/

body {
    font-family: 'Roboto', sans-serif;
}


/*Estilos noticia interior*/

.title-noticia-int {
    text-transform: uppercase;
    color: #585858;
    font-size: 187.5%;
}

.title-noticia-home {
    text-transform: uppercase;
    color: #0069AA;
    font-size: 187.5%;
}

.date-noticia {
    color: #707070;
    font-size: 81.25%;
}

.date-noticia a {
    color: #707070;
    text-decoration: none;
}