/*Fuente de la página*/

body {
    font-family: 'Roboto', sans-serif;
}


/*Estilos noticia interior*/

.title-noticia-int {
    text-transform: uppercase;
    color: var(--color-gris);
    font-size: 187.5%;
}

.title-noticia-home {
    text-transform: uppercase;
    color: var(--color-azul-claro);
    font-size: 187.5%;
}

.date-noticia {
    color: var(--color-gris);
    font-size: 81.25%;
}

.date-noticia a {
    color: var(--color-gris);
    text-decoration: none;
}

.contenedor-sup-qs-home {
    margin-top: 6.25%;
}

.contenedor-qs-home {
    padding-top: 1.25%;
    border-top: 7px solid var(--color-azul-oscuro);
}