/* Módulos testimonios   
   Autor: Vladimir Draguicevic
   Fecha: 15/1072022
   Versión: 0.1*/

.card-testimonios {
    position: relative;
    border: 0px solid #DCDCDC;
    height: auto;
    max-height: 500px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.img-testimonio {
    position: relative;
    top: 50px;
}

.img-testimonio img {
    border-radius: 100px;
    border: 0px solid rgb(212, 212, 212);
}

.contenedor-datos-testimonio {
    padding: 1rem;
    padding-top: 1rem;
    padding-top: 1rem;
    max-height: 400px;
    min-height: 300px;
    padding-top: 4rem;
    border-radius: 20px;
}

.title-testimonios {
    font-size: 100%;
    color: #0069AA;
}

.date-testimonios {
    color: #707070;
    font-size: 81.25%;
}

.date-testimonios a {
    color: #707070;
    text-decoration: none;
}

.text-testimonios.small {
    color: #0069AA;
}

.btn-testimonios {
    position: absolute;
    background-color: #0069AA;
    border-radius: 10px 0px 0px 0px;
    bottom: 0px;
    right: 0px;
    width: 75px;
}

.arrow-testimonios {
    font-size: 120%;
}